{{ define "main" }}
    <article  class="cf pa3 mw8 center sans-serif" data-pagefind-body>
	<h1 class="f2 lh-title fw9 mb3 mt0 pt3 ttc">{{ .Title }}</h1>
	{{ partial "breadcrumb.html" . }}
	<section class="bt b--hot-pink">
	    {{ range .Pages }}
		<div class="fl w-third pa2">
		    <a href="{{ .RelPermalink }}" class="link black dim">
			{{ $image := "" }}
			{{ if isset .Params "featured_image" }}
			    {{ $image = .Params.featured_image }}
			{{ else }}
			    {{ $image = .Resources.ByType "image" }}
			    {{ if $image }}
				{{ $image = where $image ".MediaType.SubType" "ne" "svg"}}
				{{ $image = index $image 0  }}
			    {{ else }}
				{{ $image = "" }}
			    {{ end }}
			{{ end }}
			{{ partial "image.html" (dict "image" $image "resources" .Resources "ration" "1x1" "hide_credit" true) }}
			<h1 class="f3 mb2">{{.Title}}</h1>
		    </a>
		</div>
	    {{ end }}
	</section>
    </article>
{{ end }}
