<meta property="og:url" content="{{ .Permalink }}">

{{- with or site.Title site.Params.title | plainify }}
    <meta property="og:site_name" content="{{ . }}">
{{- end }}

{{- with or .Title site.Title site.Params.title | plainify }}
    <meta property="og:title" content="{{ . }}">
{{- end }}


{{- with or .Params.locale site.LanguageCode }}
    <meta property="og:locale" content="{{ replace . `-` `_` }}">
{{- end }}

{{- if .IsPage }}
    {{- with .Params.artists }}
        <meta property="og:description" content="Freely improvised music from {{ delimit . ", " " & " }}">
    {{- end }}
    <meta property="og:type" content="article">
    {{- with .Section }}
        <meta property="article:section" content="{{ . }}">
    {{- end }}
    {{- $ISO8601 := "2006-01-02T15:04:05-07:00" }}
    {{- with or .Params.concert_date .PublishDate }}
        <meta property="article:published_time" {{ .Format $ISO8601 | printf "content=%q" | safeHTMLAttr }}>
    {{- end }}
    
    {{- range .GetTerms "tags" | first 6 }}
        <meta property="article:tag" content="{{ .Page.Title | plainify }}">
    {{- end }}
{{- else }}
    <meta property="og:type" content="website">
{{- end }}

{{- with partial "feature-image.html" (dict "Resources" .Resources "operation" "fit" "args" "400x400 center") }}
    <meta property="og:image" content="{{ .Permalink }}">
{{- end }}

{{- with .Params.audio }}
    {{- range . | first 6  }}
        <meta property="og:audio" content="{{ . | absURL }}">
    {{- end }}
{{- end }}

{{- with .Params.videos }}
    {{- range . | first 6 }}
        <meta property="og:video" content="{{ . | absURL }}">
    {{- end }}
{{- end }}

{{- range .GetTerms "series" }}
    {{- range .Pages | first 7 }}
        {{- if ne $ . }}
            <meta property="og:see_also" content="{{ .Permalink }}">
        {{- end }}
    {{- end }}
{{- end }}

{{- with site.Params.social }}
    {{- if reflect.IsMap . }}
        {{- with .facebook_app_id }}
            <meta property="fb:app_id" content="{{ . }}">
        {{- else }}
            {{- with .facebook_admin }}
                <meta property="fb:admins" content="{{ . }}">
            {{- end }}
        {{- end }}
    {{- end }}
{{- end }}
