{{ define "main" }}
{{ $paginator := .Paginate (.Pages.ByParam "name") 10 }}
<section class="cf pa3 mw8 center sans-serif">
  {{ range $paginator.Pages }}
  <article class="cf pa3 mw8 center sans-serif">
    <a class="link no-underline black dim" href="{{.Permalink}}">
    <header class="fn fl-ns w-50-ns pr4-ns">
	      <h1 class="f2 lh-title fw9 mb3 mt0 bt pt3 bw2">{{ .Title }}</h1>
	      {{ partial "image.html" (dict "image" .Params.featured_image "resources" .Page.Resources) }}
    </header>
    <div class="fn fl-ns w-50-ns pv4">
      <div class="f4 lh-copy measure mt0-ns">{{ .Summary }}</div>
    </div>
    </a>
  </article>
  {{ end }}
</section>

{{ partial "pagination.html" (dict "pagination" $paginator) }}

{{ end }}
