{{ define "main" }}
    <article class="cf pa3 mw8 center sans-serif flex flex-wrap" data-pagefind-body>
	      <header class="w-100 w-50-ns pr4-ns">
	          <h1 class="f2 lh-title fw9 mb3 mt0 pt3 bt bw2" data-pagefind-meta="title" data-pagefind-filter="musician">
		            {{ .Title }}
	          </h1>
	          {{ partial "image.html" (dict "image" .Params.featured_image "resources" .Page.Resources) }}

	          {{ if isset .Params "quotes" }}
		            {{ range .Params.quotes }}
		                <div class="pa2">
			                  <blockquote>
			                      <p class="baskerville i ml0 mt0 pl4 black-90 bl bw2 b--light-pink">{{ .text }}</p>
			                      <cite class="f6 ttu fs-normal">―{{ .attribute }}</cite>
			                  </blockquote>
		                </div>
		            {{ end }}
	          {{ end }}
	          <ul class="list ph0">
		            {{range .Params.instruments }}
		                <li class="dib mr1 mb2">
			                  <a class="f6 pa1 b bg-light-pink black ttl no-underline dim" href="/instruments/{{ urlize .}}" title="instrument: {{.}}" data-pagefind-filter="instrument">{{ . }}</a>
		                </li>
		            {{ end }}
	          </ul>
	      </header>
	      <div class="w-50-ns f5 lh-copy measure">{{ .Content }}
	          {{ if or (isset .Params "links") (isset .Params "discogs_id")}}
		            <h4 class="f4 bb">Links</h4>
		            <ul class="list pl0">
		                {{ range .Params.links }}
			                  <li class="mv2">
			                      {{ if reflect.IsMap . }}
				                        <a class="link dim black-60" href="{{ .url }}">{{ .name }}</a>
			                      {{ else }}
				                        <a class="link dim black-60" href="{{ . }}">{{ . }}</a>
			                      {{ end }}
			                  </li>
		                {{ end }}
		                {{ if isset .Params "discogs_id" }}
			                  <li class="mv2">
			                      <a class="link dim black-60" href="https://www.discogs.com/artist/{{ .Params.discogs_id }}">Discogs</a>
			                  </li>
		                {{ end }}
		            </ul>
	          {{ end }}
	      </div>
	      <div class="pr4-ns w-100">
	          {{ $played := where (.Site.RegularPages.RelatedIndices . "artists") "Type" "concerts"}}
	          {{ $artist := (anchorize .Title) }}
	          {{ with $played }}
		            <h3 class="bb lh-copy">Mopomoso Apperances: {{ len $played }}</h3>
		            <div class="w-100 flex flex-wrap">
		                {{ range sort $played ".Params.concert_date" "desc" }}
			                  <div class="w-50 w-50-m w-10-ns f6 f6 mv2">
			                      <div class="w-100">
				                        <a class="link dim black-60" href="{{ .RelPermalink }}#{{$artist}}">{{ .Params.concert_date | time.Format "02 Jan 2006" }}</a>
			                      </div>
			                      <div class="f7 w-100">{{ default "Afternoon Sessions" .Params.concert_series }}</div>
			                  </div>
		                {{ end }}
		            </div>
	          {{end}}
	      </div>
	      <div class="pr4-ns w-100">
	          {{ with $played }}
		            <h3 class="bb lh-copy">Mopomoso Concert Series:</h3>
		            <div class="flex flex-wrap">
		                {{ range $played.GroupByParam "concert_series" }}
		                    <dl class="w-20-ns w-50 lh-title">
			                      <dd class="f6 fw4 ml0">{{ .Key }}</dd>
			                      <dd class="f3 fw6 ml0">{{ (len .Pages)}}</dd>
			                  </dl>
			              {{ end }}
		            </div>
		        {{ end }}
	      </div>
	      {{ partial "artists/sets.html" . }}
    </article>
    
{{ end }}
