$light-pink: #ffa3d7;


body {
    --pagefind-ui-scale: 1;
    --pagefind-ui-primary: #ffa3d7;
    --pagefind-ui-text:  rgba( 0, 0, 0, .8 );
    --pagefind-ui-background: #ffffff;
    --pagefind-ui-border: #ffa3d7;
    --pagefind-ui-tag: #ffa3d7;
    --pagefind-ui-border-width: 1px;
    --pagefind-ui-border-radius: 4px;
    --pagefind-ui-image-border-radius: 4px;
    --pagefind-ui-image-box-ratio: 1 / 1;
    --pagefind-ui-font: sans-serif;
}

.breadcrumb ol {
  padding-left: 0;
}

.breadcrumb li {
  display: inline;
}

.breadcrumb li:not(:last-child)::after {
  content: "»";
}

ul {
    list-style-type: disc;
}

hr {
    color: #ffa3d7;
    border: none;
    border-top: 1px dotted #ffa3d7;
    text-align: center;
    height: 5px;
}

.lh-copy{
    h1,h2,h3,h4,h5,h6 {
	border-bottom: 1px solid #ffa3d7;
    }
}

blockquote {
    p {
	font-style: italic;
	font-family: baskerville,serif;
	border-width: .25em;
	border-color: $light-pink;
	border-left-style: solid;
	padding-left: 2em;
    }
    cite {
	text-transform: uppercase;
	font-style: normal;
    }
}
