{{ define "main" }}
    {{ $pages := where .Pages "Params.concert_date" "ne" nil }}
    {{ $pages = sort $pages "Params.concert_date" "desc" }}
    {{ $paginator := .Paginate $pages 12 }}
    <article class="cf pa3 mw8 center sans-serif">
        <section class="w-100 flex flex-wrap">
            {{ range $paginator.Pages }}
                <a href="{{.Permalink}}" class="link w-100 w-50-m w-33-l pb2 pa3-m pa4-l mb3 mb0-ns bb bn-ns dim">
                    {{ $image := partial "feature-image.html" (dict "Resources" .Resources "args" "400x400 smart")}}
                    {{ partial "image.html" (dict "image" $image "resources" .Resources "ration" "1x1" "hide_credit" true) }}
                    <h3 class="f6 f4-ns mb0 black-90 bb b--light-pink pv1 mb1">{{ .Params.concert_date | time.Format "2 January 2006" }}</h3>
                    <div class="f6 lh-copy measure black-90">
	                      {{ if .Params.sets }}
	                          <ul class="list pl0">
	                              {{ range .Params.sets }}
	                                  <li class="lh-copy pv2 ba bl-0 bt-0 br-0 b--dotted b--light-pink">{{ delimit . ", " " & "}}</li>
	                              {{ end }}
	                          </ul>
	                      {{ else }}
	                          {{ .Summary }}
	                      {{ end }}
                    </div>
                </a>
            {{ end }}
        </section>
    </article>
    {{ partial "pagination.html" (dict "pagination" $paginator) }}
{{ end }}
