{{ define "head" }}
    {{ range .Params.artists}}
        <meta data-pagefind-filter="musician:{{.}}">
    {{ end }}
{{ end }}
{{ define "main" }}
    {{ $category := (index .Params.categories 0) | default "Afternoon Sessions"}}
    <article class="cf pa3 mw8 center sans-serif" data-pagefind-body>
        <header class="vh-50 bg-light-pink dt w-100">
	          {{ $image := partial "feature-image.html" (dict "Resources" .Resources "operation" "fit" "args" "1500x400 center")}}
            {{ if $image }}
	          <div
	              style="background:url('{{$image.RelPermalink}}') no-repeat center right;"
		            class="dtc v-mid cover ph3 ph4-m ph5-l"
		            data-pagefind-meta="image:{{ $image.RelPermalink }}"
	          >
            {{ else }}
	              <div class="dtc v-mid cover ph3 ph4-m ph5-l b-black w1 h1">
            {{ end }}
	              <h1 class="f2 f-subheadline-l measure lh-title fw9">
		                <span class="bg-black-90 lh-copy white pa1 tracked-tight" data-pagefind-meta="title">{{ dateFormat "_2 January 2006" .Params.concert_date }}</span>
	              </h1>
	          </div>
        </header>

        <div class="cf flex flex-wrap">
	          <div class="w-100 w-70-ns pa3">
	              {{ partial "concerts/content.html" . }}
	          </div>
	          <div class="w-100 w-30-ns pt3-ns pr3-ns pa3">
	              {{ partial "concerts/details.html" . }}
	          </div>
	          <div class="w-100 w-70-ns pt3-ns pr3-ns pa3 lh-copy measure-wide">
	              {{ with .Params.notes }}
	                  <h5 class="f5">Notes:</h5>
	                  <ul class="list pl0">
		                    {{ range . }}
		                        <li>{{ . | markdownify }}</li>
		                    {{ end }}
	                  </ul>
	              {{ end }}
	              {{ with .Params.sources }}
	                  <h5 class="f5 measure">Sources:</h5>
	                  <ul class="list pl0">
		                    {{ range . }}
		                        <li><a class="link dim" href="{{.}}">{{ . }}</a></li>
		                    {{ end }}
	                  </ul>

	              {{ end }}
	          </div>
        </div>
    </article>
{{ end }}
