<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    {{/* NOTE: the Site's title, and if there is a page title, that is set too   */}}
    <title>
      {{ block "title" . }}{{ with .Params.Title }}{{ . }} | {{ end }}{{ .Site.Title }}{{ end }}
    </title>
    <meta name="viewport" content="width=device-width,minimum-scale=1" />
    <meta
      name="description"
      content="{{ with .Description }}{{ . }}{{ else }}{{if .IsPage}}{{ .Summary }}{{ else }}{{ with .Site.Params.description }}{{ . }}{{ end }}{{ end }}{{ end }}"
    />
    {{ hugo.Generator }} {{/* NOTE: For Production make sure you add  `HUGO_ENV="production"` before your build command */}} {{ $production := eq (getenv "HUGO_ENV") "production" | or (eq site.Params.env "production") }}
    {{ $public := not .Params.private }} {{ if and $production $public }}
    <meta name="robots" content="index, follow" />
    {{ else }}
    <meta name="robots" content="noindex, nofollow" />
    {{ end }} {{ partial "site-style.html" . }} {{ partial "site-scripts.html" . }} {{ block "favicon" . }} {{ partialCached "site-favicon.html" . }} {{ end   }} {{ if .OutputFormats.Get "RSS" }} {{ with .OutputFormats.Get "RSS" }}
    <link
      href="{{ .RelPermalink }}"
      rel="alternate"
      type="application/rss+xml"
      title="{{ $.Site.Title }}"
    />
    <link
      href="{{ .RelPermalink }}"
      rel="feed"
      type="application/rss+xml"
      title="{{ $.Site.Title }}"
    />
    {{ end }}
    {{ end }}
    {{/* NOTE: These Hugo Internal Templates can be found
    starting at
    https://github.com/gohugoio/hugo/tree/master/tpl/tplimpl/embedded/templates
    */}}
    {{- template "_override/opengraph.html" . -}}
    {{- template "_internal/schema.html" . -}}
    {{- template "_internal/twitter_cards.html" . -}}
    {{ if eq (getenv "HUGO_ENV") "production" | or (eq .Site.Params.env "production") }}
    {{ template "_internal/google_analytics.html" . }}
    {{ end }}
    <meta data-pagefind-filter="content type:{{ .Type }}">
    {{ block "head" .}}{{ end }}
  </head>

  <body>
    {{ block "header" . }}{{ partial "site-header.html" .}}{{ end }}
    <main role="main" class="container">
      {{ block "main" . }}{{ end }}
    </main>
    {{ block "footer" . }}{{ partialCached "site-footer.html" . }}{{ end }}
  </body>
</html>
