{{ define "main" }}
<section class="cf pa3 mw8 center sans-serif">
    {{ .Content }}
</section>
{{ $paginator := .Paginate (where .Pages "Kind" "in" "page section") }}
<section class="cf pa3 mw8 center sans-serif">
    {{ range $paginator.Pages }}
    <article class="bt bb b--pink">
	<a class="db pv4 ph3 ph0-l no-underline black dim" href="{{.Permalink}}">
	    <div class="flex flex-column flex-row-ns">
		<div class="pr3-ns mb4 mb0-ns w-100 w-40-ns">
		    {{ with partial "get-image.html" (dict "page" . "name" .Params.featured_image )}}
		    <div class="aspect-ratio aspect-ratio--1x1">
			<img
			    src="{{ .RelPermalink }}"
			    class="aspect-ratio--object cover"
			/>
		    </div>
		    {{ end }}
		</div>
		<div class="w-100 w-60-ns pl3-ns">
		    <h1 class="f3 fw1 baskerville mt0 lh-title">{{ .Title }}</h1>
		    <div class="f6 f5-l lh-copy">
			{{ .Summary }}
		    </div>
		</div>
	    </div>
	</a>
    </article>
    {{ end }}
</section>

{{ partial "pagination.html" (dict "pagination" $paginator) }}

{{ end }}
