{{ define "main" }}
<article class="cf pa3 mw8 center sans-serif flex flex-wrap" data-pagefind-body>
  <header class="w-50-ns pr4-ns">
    <h1 class="f2 lh-title fw9 mb3 mt0 pt3 bt bw2">
      {{ .Title }}
    </h1>
    {{ partial "breadcrumb.html" . }}
    <time class="f6 ttu tracked gray">{{ dateFormat "_2 January 2006" .Date }}</time>

    {{ with partial "get-image.html" (dict "page" . "name" .Params.featured_image )}}
    <div class="aspect-ratio aspect-ratio--4x3 mb4">
      <div class="aspect-ratio--object cover" style="background:url({{ .RelPermalink }}) center;" data-pagefind-meta="image:{{ .RelPermalink }}"></div>
    </div>

  
  {{ end }}
  </header>
  <div class="w-50-ns pr4-ns">
    <div class="f5 lh-copy measure">{{ .Content }}</div>
  </div>
</article>
{{ end }}
