{{ define "main" }}
    <article class="cf pa3 mw8 center sans-serif" data-pagefind-body>
        {{ $taxonomyObject := .Data.Terms }}
        <div class="flex flex-wrap">
	          {{ range $taxonomyObject.ByCount }}
	              <div class="w-100 w-third-ns pa2">
	                  <h2 class="f4 lh-title measure bb b--light-pink">
                        <a class="ttc link dim black" href="{{ .Page.RelPermalink }}">{{ .Page.LinkTitle }}: <span class="fs-normal normal">{{ .Count }}</span></a>
                    </h2>
	                  <ol class="list p10">
		                    {{ range .Pages | shuffle | first 5 }}
		                        <li><a class="link dim black" href="{{ .RelPermalink }}">{{ .Title }}</a></li>
		                    {{ end }}
                        {{ if ge .Count 5 }}
                            <li><a class="link dim black" href="{{.Page.RelPermalink}}">[more]</a></li>
                        {{ end  }}
	                  </ol>
	              </div>
	          {{ end }}
        </div>
    </article>
{{ end }}
