{{ define "main" }}
<article class="cf pa3 mw8 center sans-serif" data-pagefind-body data-pagefind-filter="content type:news">
  <header class="fn fl-ns w-50-ns pr4-ns">

    <h1 class="f2 lh-title fw9 mb3 mt0 pt3 bt bw2">
      {{ .Title }}
    </h1>
    <time class="f6 ttu tracked gray">{{ dateFormat "_2 January 2006" .Date }}</time>   
    
    <figure>
      {{ with .Resources.Get .Params.featured_image}}
  <img
    src="{{ .RelPermalink }}"
    class="w-100 mt3"
    />
  {{ end }}
    {{ with .Params.featured_image_credits }}
  <figcaption class="f6 mt2">
    <details>
      <summary>Image Credits</summary>
      <label class="b mr2">Author</label>{{ .author }}<br/>
      <label class="b mr2">Source</label><a href="{{ .source.url }}">{{ .source.name }}</a><br/>
      <label class="b mr2">Licence</label><a href="{{ .license.url }}">{{ .license.name }}</a><br/>
    </details>
  </figcaption>
    {{ end }}
    </figure>


  </header>
  <div class="fn fl-ns w-50-ns">
    <div class="f5 lh-copy measure mt0-ns">{{ .Content }}</div>
  </div>
</article>

{{ end }}
