{{ define "main" }}
{{ $paginator := .Paginate (.Pages.ByParam "contentDetails.videoPublishedAt").Reverse 12 }}
<article class="cf pa3 mw8 center sans-serif">
  <h1 class="f-subheadline bb b--light-pink lh-copy">Mopomoso {{ .Title }}</h1>
  <h2 class="f4 measure lh-solid">{{ .Summary }}</h3>
  <section class="w-100 flex flex-wrap">
{{ range $paginator.Pages }}
  <a href="{{ .Permalink }}" class="link w-100 w-50-m w-33-l pb2 pa3-m pa4-l mb3 mb0-ns bb bn-ns dim">
      <img
	src="{{ .Params.featured_image }}"
	class="w-100"
	/>
      <h3 class="f6 f4-ns mb0 black-90 bb b--light-pink pv1 mb1">{{ .Title }}</h3>
      <div class="f6 lh-copy measure black-90">{{ .Summary }}</div>
  </a>
  {{ end }}
  </section>
</article>
{{ partial "pagination.html" (dict "pagination" $paginator) }}
{{end}}

