{{ define "main" }}
{{ $opts := dict "display" "block" }}
<article class="cf pa3 mw8 center sans-serif" data-pagefind-body>
  <h1 class="f2 f-subheadline bb b--light-pink" data-pagefind-meta="title">{{ .Title | title }}</h1>
  <div style="position: relative; padding-bottom: 56.25%; height: 0; overflow: hidden;" data-pagefind-meta="image:{{ .Params.snippet.thumbnails.medium.url }}">
  <iframe src="https://www.youtube.com/embed/{{.Params.contentDetails.videoId}}?autoplay=0" style="position: absolute; top: 0; left: 0; width: 100%; height: 100%; border:0;" allowfullscreen title="YouTube Video"></iframe>
  </div>
  <div>{{ (replace .Params.snippet.description "\n" "\n\n") | .RenderString $opts }}</div>
</article>
{{ end }}
