<nav aria-label="breadcrumb" class="breadcrumb f6">
  <ol>
    {{ range .Ancestors.Reverse }}
      <li>
        <a class="link black dim" href="{{ .Permalink }}">{{ .LinkTitle }}</a>
      </li>
    {{ end }}
  </ol>
</nav>
