{{ $ratio := "4x3" }}
{{ if $.ratio }}
{{ $ratio = $.ratio }}
{{ end }}

{{ $hide_credit := false }}
{{ if $.hide_credit }}
{{ $hide_credit = true }}
{{ end }}



{{ $path := "" }}
{{ $credit := ""}}
{{ if reflect.IsMap $.image }}
{{ $path = $.image.path }}
{{ $credit = $.image.credit}}
{{ else }}
{{ $path = $.image}}
{{ end }}

<div class="aspect-ratio aspect-ratio--{{ $ratio }} bg-black">
    {{ with $.resources.Get $path }}
      {{ with . | images.Filter images.Grayscale }}
      <div
	  style="background:url('{{ .RelPermalink }}');"
		 class="aspect-ratio--object cover"
      ></div>
      {{ end }}
    {{ end }}
</div>

{{ if not $hide_credit }}

{{ with $credit }}<p class="f6 i">Photo by {{.}}</p>{{ end }}

{{ end }}
