{{ $paginator := .pagination }}
<div class="flex items-center justify-center pa4 sans-serif">
  {{ if $paginator.HasPrev }}
  <a href="{{ $paginator.Prev.URL }}" class="f6 no-underline black bg-animate hover-bg-black hover-white inline-flex items-center pa2 ba border-box">
      <svg class="w1" data-icon="chevronLeft" viewBox="0 0 32 32" style="fill:currentcolor">
        <title>chevronLeft icon</title>
        <path d="M20 1 L24 5 L14 16 L24 27 L20 31 L6 16 z"></path>
      </svg>
    <span class="pl1">Previous</span>
  </a>
  {{ end }}
  {{ range  $paginator.Pagers }}
  {{ if eq . $paginator }}
  <span class="f6 no-underline white bg-black inline-flex items-center pa2 ba border-box">
    {{.PageNumber}}
  </span>
  {{ else }}
  <a href="{{ .URL }}" class="f6 no-underline black bg-animate hover-bg-black hover-white inline-flex items-center pa2 ba border-box">
    {{ .PageNumber }}
  </a>
  {{end}}
  {{ end }}
  {{ if $paginator.HasNext }}
  <a href="{{ $paginator.Next.URL }}" class="f6 no-underline black bg-animate hover-bg-black hover-white inline-flex items-center pa2 ba border-box">
    <span class="pr1">Next</span>
    <svg class="w1" data-icon="chevronRight" viewBox="0 0 32 32" style="fill:currentcolor">
      <title>chevronRight icon</title>
      <path d="M12 1 L26 16 L12 31 L8 27 L18 16 L8 5 z"></path>
    </svg>
  </a>
  {{ end }}
</div>
