<header class="helvetica w-100">
    <div class="tc">
	<img width="80px" src="/img/logo.svg" alt="Mopomoso orange logo" />
    </div>
    <a class="link dim black b f1 f-headline-ns tc db mb3 mb4-ns baskerville i" href="/" title="Home">Mopomoso</a>
    <nav class="bt bb tc mw8 center mt4">
	{{ $currentPage := .Page }}
	{{ range site.Menus.main.ByWeight }}
	    {{ if or ($currentPage.IsMenuCurrent .Menu .) ($currentPage.HasMenuCurrent .Menu .) (eq $currentPage.Title .Name)}}
		<a aria-current="page" class="f6 f5-l link bg-animate black-80 bg-lightest-blue dib pa3 ph4-l" href="{{ .URL }}">{{ .Name }}</a>
	    {{ else }}
		<a class="f6 f5-l link bg-animate black-80 hover-bg-lightest-blue dib pa3 ph4-l" href="{{ .URL }}">{{ .Name }}</a>
	    {{ end }}
	{{ end }}
    </nav>
</header>
