<footer class="pa4 pa5-l black-70 bt b--black-10 flex flex-wrap">
    <section class="w-100 w-50-ns flex flex-wrap">
        <article class="w-100 w-30-ns">
		        <h4 class="f5 f4-l fw6">Mopomoso</h4>
		        <span class="f7 f6-l db black-70">c/o Vortex Jazz Club</span>
		        <span class="f7 f6-l black-70">11 Gillett Sqaure, London, N16 8AZ</span>
	      </article>
	      <article class="w-100 w-30-ns">
		        <h4 class="f5 f4-l fw6">Mopomoso TV</h4>
		        <span class="f7 f6-l db black-70"><a class="link dim" href="https://www.mopomoso.tv">https://www.mopomoso.tv</a></span>
		        <span class="f7 f6-l db black-70"><a class="link dim" href="https://www.youtube.com/@mopomoso">YouTube</a></span>
	      </article>
	      <article class="w-100 w-30-ns">
		        <h4 class="f5 f4-l fw6">Weekertoft</h4>
		        <span class="f7 f6-l db black-70">
		            Wicklow, Ireland
		        </span>
		        <span class="f7 f6-l db black-70"><a class="link dim" href="https://weekertoft.bandcamp.com/">https://weekertoft.bandcamp.com/</a></span>
	      </article>
        <article class="w-100 bt b--light-pink ma4">
            {{ partial "newsletter-signup.html" .}}
        </article>
    </section>
    <section class="w-100 w-30-ns">
        <article class="w-100">
            <blockquote class="lh-copy ml0"><p>{{ .Site.Params.description }}</p></blockquote>
	          <a class="black-70 f3 f2-ns fw6 tl link dim dib pv3 mt2 mb4 mb0-l" href="mailto:hello@mopomoso.com">
		            hello@mopomoso.com
	          </a>
        </article>
        <article class="w-100">
            {{ partial "socials.html" . }}
        </article>
    </section>
    <section class="w-100 w-20-ns">
        {{ partial "kofi.html" }}
    </section>
    
	  <section class="w-100 pa1">
        {{ with .Page.GitInfo }}
            <label>Last updated: </label>
	          {{ .CommitDate.Format "2006-01-02 15:04:05 -0700" }} with {{ .AbbreviatedHash }}
	      {{ end }}
	  </section>


    <!-- Cloudflare Web Analytics -->
    <script defer src='https://static.cloudflareinsights.com/beacon.min.js' data-cf-beacon='{"token": "ec3b9f8c2bc540a3a83b83f6a11e7964"}'></script>
    <!-- End Cloudflare Web Analytics -->
</footer>
