<section class="pa2">
    <h4>Follow Us:</h4>
    {{ range sort .Site.Data.socials "name" }}
        <a class="no-underline near-white bg-animate bg-near-black hover-bg-gray items-center ma2 tc br2 pa2" href="{{ .link }}">
            <i class="fa-brands fa-{{.name | lower}}"></i>
            <span class="f6 sans-serif dn dib-ns">{{ .name }}</span>
        </a>
    {{ end }}
</section>
