<div class="measure-wide lh-copy f5">
    {{ if and (eq 0 (.Content | countrunes)) (isset .Params "sets") }}
	{{ range .Params.sets }}
	    <h3>
		{{ $count := sub (. | len) 2 }}
		{{ range $index, $value := .}}
		    {{ $name := . }}
		    {{ $slug := $name | anchorize }}

		    {{ $p := (printf "/artists/%v" $slug) }}

		    {{- if $.Site.GetPage $p -}}
			<a class="link dim b" href="{{ $p }}" id="{{ $slug }}">{{ $value }}</a>
		    {{- else -}}
			<span class="artist b">{{ $value }}</span>
			{{- end -}}
			{{- if lt $index $count -}}
			,
			{{ else if eq $index $count }}
			&
			{{- end -}}
			{{ end }}
	    </h3>
	    {{ range . }}
	    {{ $name := . }}
	    {{ $slug := $name | anchorize }}

	    {{ $p := (printf "/artists/%v" $slug) }}

	    {{ with $.Site.GetPage $p }}
	    {{ .Summary }}
	    {{ end }}

	    {{ end }}
	    {{ end }}
	    {{ else }}
	    {{ .Content }}
	    {{ end }}
</div>
