
	<dl class="lh-title pt3 mt0">
	    <dt class="f6 b">Where</dt>
	    <dd class="ml0">{{ .Params.venue }}</dd>
	    <dt class="f6 b">When</dt>
	    <dd class="ml0">
		{{ if isset .Params "doors"}}
		{{ $type := (printf "%T" .Params.doors) }}
		{{ if  (eq $type "string") }}
		{{ .Params.doors }}, {{ dateFormat "_2 January 2006" .Params.concert_date }}
		{{ else }}
		<ul>
		    {{range $i, $time := .Params.doors}}
		    <li>{{time.Format "Mon - 15:04 _2 January 2006" $time}}</li>
		    {{end }}
		</ul>
		{{ end }}
		{{else}}
		{{ dateFormat "03:04PM _2 January 2006" .Params.concert_date }}
		{{end}}
	    </dd>
	    <dt class="f6 b">Tickets</dt>
	    <dd class="ml0">{{ range $i, $price := .Params.costs }}{{if $i}}, {{end}}
		<label>{{ index $price "key" }}</label> {{ index $price "value" }}{{ end }}</dd><br>
		{{ if and (isset .Params "ticket_link") (gt .Params.concert_date now) }}
		<a class="no-underline near-white bg-animate bg-near-black hover-bg-gray inline-flex items-center mt2 tc br2 pa2" href="{{ .Params.ticket_link }}" title="Buy Tickets">
        <i class="fa-solid fa-cart-shopping"></i>
		    <span class="f6 ml3 pr2">Buy Tickets</span>
		</a>
		{{ end }}
	</dl>

