{{ define "main" }}
    <section class="cf pa3 mw9 center baskerville">
        <header class="tc ph5 lh-copy">
            <h1 class="f1 f-headline-l code mb3 fw9 dib tracked-tight light-pink">404</h1>
            <h2 class="tc f1-l fw1">Sorry, we can't find the page you are looking for.</h2>
        </header>
        <p class="fw1 i tc mt4 mt5-l f4 f3-l">Are you looking for one of these?</p>
        <div class="flex flex-wrap">
            {{range (first 4 (shuffle .Site.RegularPages)) }}
                <a href="{{.Permalink}}" class="link w-100 w-50-m w-25-l pb2 pa3-m pa4-l mb3 mb0-ns bb bn-ns dim">
                    {{ $image := partial "feature-image.html" (dict "Resources" .Resources "args" "400x400 smart")}}
                    {{ if $image }}
                        <div class="aspect-ratio aspect-ratio--1x1 bg-light-pink" style="background-image: url('{{ $image.RelPermalink  }}');">
                    {{ else }}
                            <div class="aspect-ratio aspect-ratio--1x1 bg-light-pink">
                    {{ end }}
                            </div>
                            <h3 class="f6 f4-ns mb0 black-90 bb b--light-pink pv1 mb1">{{ .Title }}, {{ .Params.doors }}</h3>
                            <div class="f6 lh-copy measure black-90">{{ .Summary }}</div>
                </a>
            {{end}}
                        </div>
    </section>
{{ end }}
