{{ define "main" }}
{{ $concerts :=  where .Site.RegularPages "Section" "concerts" }}
{{ $sorted := where $concerts ".Params.concert_date" "ge" now }}

{{ if $sorted }}
    {{ $sorted = sort $sorted ".Params.concert_date" "asc" }}
{{ else }}
    {{ $sorted = sort $concerts ".Params.concert_date" "desc" }}
{{ end }}

{{ $concert := index $sorted 0 }}


{{ with $concert }}
{{ $image := partial "feature-image.html" (dict "Resources" .Resources "operation" "fit" "args" "1500x400 center")}}
<article class="cf pa3 mw8 center sans-serif">
    <header class="vh-50 bg-light-pink dt w-100">
	<div
	    style="background:url('{{$image.RelPermalink}}') no-repeat center right;"
	    class="dtc v-mid cover ph3 ph4-m ph5-l"
	    data-pagefind-meta="image:{{ $image.RelPermalink }}"
	>
	    <h1 class="f2 f-subheadline-l measure lh-title fw9">
		<span class="bg-black-90 lh-copy white pa1 tracked-tight" data-pagefind-meta="title">{{ dateFormat "_2 January 2006" .Params.concert_date }}</span>
	    </h1>
	</div>
    </header>

      <div class="cf flex flex-wrap">
    <div class="w-100 w-75-ns pa3">
	{{ partial "concerts/content.html" . }}
    </div>
    <div class="w-100 w-25-ns pt3-ns pr3-ns pa3">{{ partial "concerts/details.html" . }}</div> 
      </div>
</article>
{{ end }}

{{ end }}
