{{ define "main" }}
    <article class="cf pa3 mw8 center sans-serif" data-pagefind-body>
        <header class="w-100 pr4-ns">
	          <h1 class="f3 lh-copy measure lh-title fw9">{{ .Title }}</h1>
        </header>
        <div>Our directory of links to all things improvised music. If you think something should be included please email <a class="hot-pink" href=" mailto:hello@mopomoso.com">hello@mopomoso.com</a></div>
        {{ $taxonomyObject := .Data.Terms }}
        <div class="f6 f5-ns b ml0">

	          {{ range $taxonomyObject }}

                <dl class="dib mr5">
                    <dd class="f6 f5-ns b ml0">
                        <a class="ttc link dim black" href="{{ .Page.RelPermalink }}">{{ .Page.LinkTitle | pluralize }}</a>
                    </dd>
                    <dd class="f6 f5-ns b ml0">{{ .Count }}</dd>
                </dl>

	          {{ end }}
        </div>
    </article>
{{ end }}
