{{ define "main" }}

<article  class="cf pa3 mw8 center sans-serif" data-pagefind-body>

    <h1 class="f2 lh-title fw9 mb3 mt0 pt3 ttc">{{ .Title | pluralize }}</h1>
    {{ partial "breadcrumb.html" . }}
    <section>


    
            <div class="flex flex-column flex-row-ns flex-wrap">
                {{ range .Pages }}
                    <div class="w-100 w-50-ns pa2">
                        <h1 class="f3 fw1 baskerville mt0 lh-title bb b--light-pink">{{ .Title }}</h1>
	                      <p>{{ .Content }}</p>
                        <div class="f6 f5-l lh-copy">
	                          <dl class="lh-title pa4 mt0">
	                              {{ if .Params.when }}
	                                  <dt class="f6 b">When</dt>
	                                  <dd class="ml0">{{ .Params.when }}</dd>
	                              {{ end }}
	                              <dt class="f6 b mt2">Where</dt>
                                <dd class="ml0">{{ .Params.where }}</dd>
                                <dt class="f6 b mt2">Links</dt>
	                              {{ range .Params.urls }}
	                                  <dd class="ml0"><a href="{{.}}">{{.}}</a></dd>
	                              {{ end }}
                            </dl>
	                      </div>
                    </div>
                {{ end }}
            </div>

    </section>
</article>


{{ end }}
