{{ define "main" }}
<article class="cf pa3 mw8 center sans-serif" data-pagefind-body>
    <header class="w-100 pr4-ns">
	<h1 class="f3 lh-copy measure lh-title fw9">{{ .Title }}</h1>
    </header>
    <div>{{ .Content }}</div>
    {{ $taxonomyObject := .Data.Terms }}
    <div class="flex flex-wrap">

	{{ range $taxonomyObject }}

	<div class="w-100 w-third-ns pa2">

	    <h2 class="f4 lh-title measure bb b--light-pink"><a class="ttc link dim black" href="{{ .Page.RelPermalink }}">{{ .Page.LinkTitle }}: <span class="fs-normal normal">{{ .Count }}</span></a></h2>
	    <ol class="list p10">
		{{ range .Pages.ByDate }}
		      <li><a class="link dim black" href="{{ .RelPermalink }}">{{ .Params.concert_date | time.Format "2 January 2006" }}</a></li>
		      {{ end }}
	    </ol>
	</div>
	{{ end }}
    </div>
</article>
{{ end }}
