{{ $name := .Get 0 }}
{{ $slug := $name | anchorize }}

{{ $p := (printf "/artists/%v" $slug) }}

{{- if .Site.GetPage $p -}}
<a class="link dim b" href="{{ $p }}" id="{{ $slug }}">{{ $name }}</a>
{{- else -}}
<span class="artist b">{{ $name }}</span>
{{- end -}}
