{{ $data := index .Site.Data "concerts" }}

<table class="f6 w-100 mw8 center dt--fixed" cellspacing="0">
  <tr class="bb">
    <th class="w-20">Date / Time</th>
    <th>Contributors / Details (click arrow to expand)</th>
  </tr>
{{ range (sort $data.data "date" "asc") }}
<tr class="striped--light-gray">
  <td class="v-top courier">{{time.Format "2006 Jan 02, 15:04" .date}} </td>
  <td>
    
    <details>
      {{ $contributors := .contributors }}
      {{ range .sets}}
      {{ $contributors = (union $contributors .)}}
      {{ end }}
      <summary>{{ delimit $contributors ", " " & "}}</summary>
      <h4 class="f5 bb">Sets:</h4>
	 <ol> 
	    {{ range .sets }}
	    <li>{{ delimit . ", " " & "}}</li>
	    {{ end }}
	 </ol>
	 {{ if (and .notes (gt (len .notes) 0)) }}
	 <h4 class="f5 bb">Notes:</h4>
	 {{range .notes}}
	   {{ markdownify . }}
	 {{end}}
	 {{ end }}
	 <h5 class="f6 bb">Sources:</h5>
	 <ul>
	   {{range .sources}}
	   <li><a class="link dim" href="{{.}}">{{.}}</a></li>
	   {{end}}
	 </ul>
    </details>
    
  </td>
</tr>
{{ end }}
</table>
