{{ define "main" }}
<link href="/_pagefind/pagefind-ui.css" rel="stylesheet">
<script src="/_pagefind/pagefind-ui.js"></script>
<article class="cf pa3 mw8 center sans-serif" data-pagefind-body>
<section class="flex-column">
  <div id="search"></div>
</section>
</article>
<script>
    window.addEventListener('DOMContentLoaded', (event) => {
        new PagefindUI({
	    element: "#search",
	    showSubResults: true,
	    showEmptyFilters: false,
	    pageSize: 10,
	    processResult: function (result) {
		if (!result.meta.image) {
		    result.meta.image = '/img/logo.svg';
		    return result;
		}
		if (result.meta.image.match(/^https:\/\/i.ytimg.com\/.*/)) {
		    return result;
		}
		if (result.meta.image.indexOf('http') === 0) {
		    result.meta.image = '/img/logo.svg'
		    return result;
		}
		return result;
	    }
	});
    });
</script>

{{ end }}
