{{ $value := $.Title }}
{{ $pages := where (where (.Site.RegularPages) "Type" "concerts") "Params.sets" "ne" nil }}
{{ $collabs := newScratch }}

{{ range $pages }}
{{ range .Params.sets }}
{{ if (in . $value) }}
{{ range . }}
{{ if ne . $value }}
{{ $collabs.Add . 1 }}
{{ end }}
{{ end }}
{{ end }}
{{ end }}
{{ end }}

{{ $c := newScratch }}
{{ range $key, $count := $collabs.Values }}
{{ $c.Add $key (dict "name" $key "count" $count) }}
{{ end }}

<div class="pr4-ns w-100">
    <h3 class="bb lh-copy">Collaborators:</h3>
    <div class="flex flex-wrap">
	{{ range (sort $c.Values "count" "desc") }}
	<dl class="w-20-ns w-50 lh-title">
	    <dd class="f6 fw4 ml0">
		{{ $slug := .name | anchorize }}

		{{ $p := (printf "/artists/%v" $slug) }}

		{{- if $.Site.GetPage $p -}}
		<a class="link dim black b" href="{{ $p }}" id="{{ $slug }}">{{ .name }}</a>
		{{- else -}}
		{{ warnf "No artist page found for %k" $slug}}
		<span class="artist b">{{ .name }}</span>
		{{- end -}}

	    </dd>
	    <dd class="f3 fw6 ml0">{{ .count }}</dd>
	</dl>
	{{ end }}
    </div>
</div>
